/*-------- Body --------*/
body {
	background-image:url('images/pattern.gif');
	background-color: #68F1FD;
	background-repeat: repeat;
	background-position: top left;
	border: 5px solid;
	border-radius: 5px;
	font-family: sans-serif;
	padding: 20px;
	margin: 15px;
}

/* Body Title */
#title {
	margin: auto;
	font-family: 'Share Tech', sans-serif;
	font-size: 5.5em;
	font-weight: bold;
	letter-spacing: .2em;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0.1em 0.1em #333;
	color: white;
}

/* navigation styles */
#nav {
	word-spacing: 2em;
	text-align: center;
	padding: 5px;
}

/* link styles */
#nav a:link {
	font-family: 'Share Tech', sans-serif;
	color: #000000;
}

#nav a:visited{
	color: black;
}

#nav a:hover{
	background-color: #FAF4D7;
	color: black;
}

#nav a:active{
	background-color: #FAF4D7;
	color: white;
}

#nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#nav li{
	display: inline-block;
}

/* nav2 for footer navigation */
#nav2 {
	word-spacing: 2em;
	text-align: center;
	padding: 5px;
}

/* link styles */
#nav2 a:link {
	font-family: 'Share Tech', sans-serif;
	color: #000000;
}

#nav2 a:visited{
	color: black;
}

#nav2 a:hover{
	background-color: #FAF4D7;
	color: black;
}

#nav2 a:active{
	background-color: #FAF4D7;
	color: white;
}

#nav2 ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#nav2 li{
	display: inline-block;
}

/* Div content is wrapped in */
#row1 {
	/* I used the Adobe Kuler app on my iPad to get the color scheme and just played around with this color until I found somehting I liked */
	background-color: hsla(400, 80%, 50%, .8);
	padding: 20px;
	margin: 15px auto;
	font-family: 'Share Tech';
	border-radius: 5px;
	width: 90%;
	height: 90%;
	-moz-box-shadow: 0 0 10px #777777;
	-webkit-box-shadow: 0 0 10px #777777;
	box-shadow: 0 0 10px #777777;
}

/* Unordered lists in div */
#row1 ul{
	border-radius: 5px;
	background-color: #5ED8E4;
	padding: 5px;
	color: rgb(25,59,62);

}

/* ordered lists in div */
#row1 ol{
	border-radius: 5px;
	background-color: #FAF4D7;
	margin: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
}

#row1 li{
	font-size: 1em;
}

/* h1 elements in div */
#row1 h1{
	background-image:url('images/triangle_icon.gif');
	background-color: white;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	padding-left: 75px;
	border-radius: 5px;
	line-height: 95%;
	font: small-caps normal normal 3em 'Share Tech';
	-moz-box-shadow: 0 0 10px #777777;
	-webkit-box-shadow: 0 0 10px #777777;
	box-shadow: 0 0 10px #777777;
}

/* h2 elements in div */
#row1 h2{
	border-radius: 5px;
	background-color: #FAF4D7;
	padding: 5px;
	margin: 5px;
	font: small-caps normal normal 2em 'Share Tech';
	-moz-box-shadow: 0 0 10px #777777;
	-webkit-box-shadow: 0 0 10px #777777;
	box-shadow: 0 0 10px #777777;
}

#source {
	text-align: center;
}

#source a{
	display: inline-block;
	margin: 15px;
}

#source a:link {
	font-family: 'Share Tech', sans-serif;
	color: #000000;
}

#source a:visited{
	color: black;
}

#source a:hover{
	background-color: #FAF4D7;
	color: black;
}

#source a:active{
	background-color: #FAF4D7;
	color: white;
}

#harmony, #bal, #hier, #sca{
	width: 31.3%;
	height: 31.3%;
	float: left;
	margin: 1%;
	overflow: scroll;
}

#row2 {
	clear: both;
}

#domin, #sim, #env {
	width: 31.3%;
	height: 31.3%;
	float: left;
	margin: 1%;
	overflow: scroll;
}

#con {
	clear: both;
}

#contrasts {
	width: 95%;
	margin: auto;
	padding: 15px;
	text-transform: ;
	font-size: 1em;
	border: 1px black;
	text-align: center;
	background-color: #FAF4D7;
	border-spacing: 2.5px;
}

#contrasts h1{
	text-transform: small-caps;
}
