/*-------- Body --------*/
body {
	background-color: #68F1FD;
	font-family: sans-serif;
	padding: 20px;
	margin: 15px;
}

/* Body Title */
#title {
	font-family: 'Share Tech', sans-serif;
	font-size: 5.5em;
	font-weight: bold;
	letter-spacing: .2em;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0.1em 0.1em #333;
	color: white;
}

/* navigation styles */
#nav {
	background-color: #68F1FD;
	word-spacing: 2em;
	text-align: center;
	padding: 5px;
}

/* link styles */
#nav a:link {
	font-family: 'Share Tech', sans-serif;
	color: #000000;
}

#nav a:visited{
	color: black;
}

#nav a:hover{
	background-color: #FAF4D7;
	color: black;
}

#nav a:active{
	background-color: #FAF4D7;
	color: white;
}

/* Div content is wrapped in */
#principles {
	/* I used the Adobe Kuler app on my iPad to get the color scheme and just played around with this color until I found somehting I liked */
	background-color: hsla(400, 80%, 50%, .8);
	padding: 20px;
	margin: 15px;
}

/* Unordered lists in div */
#principles ul{
	background-color: #5ED8E4;
	padding: 5px;
	color: rgb(25,59,62);

}

/* ordered lists in div */
#principles ol{
	background-color: #FAF4D7;
	margin: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
}

/* h1 elements in div */
#principles h1{
	background-color: white;
	padding: 10px;
	line-height: 95%;
}

/* h2 elements in div */
#principles h2{
	background-color: #FAF4D7;
	padding: 5px;
	margin: 5px;
}

